@font-face {
  font-family: "Larsseit";
  src: local('Larsseit-Medium'), url("/fonts/Larsseit/Larsseit-Medium.ttf") format("truetype"),
  url("/fonts/Larsseit/Larsseit-Medium.ttf") format("truetype");
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sigCanvas {
  width: 100%;
  height: 20vh;
  border: 1px solid black;
  border-radius: 10px;
}
.home-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 85vh;
  background-color: #5878FF;
  color: white;
  overflow: hidden;
}

.home-section-image-1, .home-section-image-2{
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-section-image-1{
  left: 6.01%;
  right: 77.54%;
  top: 11.07%;
  bottom: 67.06%;
  background-image: url('/images/smile-décli-ux@2x.png');
  transform: rotate(60deg);
	animation: float 6s ease-in-out infinite;
}
.home-section-image-2{
  left: 90.04%;
  right: -6.49%;
  top: 33.46%;
  bottom: 44.66%;
  background-image: url('/images/smile-décli-webmarket@2x.png');
	animation: float 4s ease-in-out infinite;
}

.home-section-badge{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-self: center;
  align-items: center;
}
.home-section-badge-image{
  width: 159.46px;
  height: 142.33px;
  left: 432px;
  top: 248px;
  background-image: url('/images/Card.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
	animation: floatBadge 3s ease-in-out infinite;
}

.welcome-page-smile{
  margin:0 auto;
  margin-top: 120px;
  width: 120px;
  height: 120px;
  background-image: url('/images/smile-base.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.welcome-title{
  font-size:22px;
  font-weight: bold;
  line-height: 0.4em;
  text-align: center;
}

.welcome-footer{
  position: relative;
  width: 30%;
  height:80px;
  top:20px;
  background:white;
  border-radius:24px;
  border: 1px solid black;
  margin: 0 auto;
  font-family: Larsseit;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
  color:#F2994A;
}

.left-footer{
  float:left;
  letter-spacing: 0.3em;
  width: 20%;
}
.right-footer{
  float: right;
  font-size: 18px;
  width: 60%;
}

.welcome-link{
  position: relative;
  top:100px;
  left: 70px;
  font-family: Larsseit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

h1 {
  margin: 40px;
  font-family: Noe Display;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  /* identical to box height, or 100% */
  
  text-align: center;
  
  color: #FFFFFF;
}

.home-section-button{
  width: 260px;

  position: absolute;
  left: 70.8%;
  right: 3.12%;
  top: 85.29%;
  bottom: 4.17%;

  font-weight: 900;
  text-shadow: 0px 2px rgba(0,0,0,0.5);

  display: flex;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  text-align: left;

  font-family: Larsseit;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.home-section-button a{
  display: flex;
  flex-direction: row;
  text-align: left;
  align-self: center;
  align-items: center;
  margin-left: 5%;

  width: 90%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.home-section-button a span{
  width: 85%;
}
.home-section-button a img{
	animation: arrowMove 1s ease-in-out infinite;
}

.all-questions{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.question-image-1{
  position: absolute;

  left: -1%;
  right: 72.88%;
  top: 72.53%;
  bottom: -10.03%;
  width: 288px;
  height: 288px;
  
  transform: rotate(2.33deg);
  background-image: url('/images/smile-base-orange.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
	animation: float 6s ease-in-out infinite;
}
.return-button{

  position: absolute;
  left: 6.84%;
  right: 88.38%;
  top: 14.97%;
  bottom: 82.68%;
  
  /* Link */
  
  font-family: Larsseit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  
  color: #000000;
}

.home-section-question h2{
  left: 13.87%;
  right: 13.96%;
  top: 38.67%;
  bottom: 55.6%;
  
  /* Heading 1 */
  
  font-family: Noe Display;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 90%;
  /* or 36px */
  
  text-align: center;
  
  color: #000000;
}

.all-questions button{
  left: 8.69%;
  right: 72.27%;
  top: 60.55%;
  bottom: 33.72%;
  
  background: #5878FF;
  border-radius: 10px;

  width: 130px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;

}

.home-section-question button a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: Larsseit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes floatBadge {
	0% {
    width: 159.46px;
		transform: translatey(0px);
	}
	50% {
    width: 119.46px;
		transform: translatey(-20px);
	}
	100% {
    width: 159.46px;
		transform: translatey(0px);
	}
}
@keyframes arrowMove {
	0% {
    margin-left: 2%;
	}
	100% {
    margin-left: 6%;
	}
}
