@font-face {
  font-family: "Larsseit";
  src: local('Larsseit-Medium'), url("/fonts/Larsseit/Larsseit-Medium.ttf") format("truetype"),
  url("/fonts/Larsseit/Larsseit-Medium.ttf") format("truetype");
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #5878FF;
  color: white;
  overflow: hidden;
}

.home-section-image-1, .home-section-image-2{
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-section-image-1{
  left: 6.01%;
  right: 77.54%;
  top: 11.07%;
  bottom: 67.06%;
  background-image: url('/images/smile-décli-ux@2x.png');
  transform: rotate(60deg);
}
.home-section-image-2{
  left: 90.04%;
  right: -6.49%;
  top: 33.46%;
  bottom: 44.66%;
  background-image: url('/images/smile-décli-webmarket@2x.png');
}

.home-section-badge{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-self: center;
  align-items: center;
}
.home-section-badge-image{
  width: 159.46px;
  height: 142.33px;
  left: 432px;
  top: 248px;
  background-image: url('/images/Card.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h1{
  margin: 40px;
  font-family: Noe Display;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  /* identical to box height, or 100% */
  
  text-align: center;
  
  color: #FFFFFF;
}

.home-section-question{
  position: absolute;
  left: 70.8%;
  right: 3.12%;
  top: 85.29%;
  bottom: 4.17%;

  background: #FFFFFF;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  text-align: left;

  font-family: Larsseit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
